*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
   
}

.container{
    padding: 100px 24px;

}

.purple{
    color: #6415ff;
}

h1{
    font-size: 40px;
}

/* navigation */


.nav__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

.nav__logo{
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}
.nav__logo--img{
    width: 40px;
    height: 40px;
}

.nav__logo--title{
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}
a {
  position: relative;
  text-decoration: none;
  color: black;
}


 a{
    display: inline;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
   text-decoration-color: #6415ff;
    text-underline-offset: 6px;         
  text-decoration-thickness: 3px; 
  transition: all 300ms ease-in;
} 
.nav__links{
    display: flex;
    gap: 20px;
    cursor: pointer;

}

.nav__link{
     font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;

}

.nav__link--special{
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;}

/* Header and rest of the landing page */

.header__description{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.header__description--title{
    font-size: 44px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.header__email{
        width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--btn{
z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;}

.header__description--paragraph{
    font-size: 18px;
    font-weight: 500;
    color: rgb(124, 139, 161);
    line-height: 1.625;
}

.header__description--customers-img{
    width: 100%;
    height: 200px;
}

.description{
    display: flex;
    align-items: center;
    gap: 40px;
}
.header__img--img{
    width: 100%;
    display: block;
    height: auto;
}

.imagne__wrapper{
    width: 60%;
}

.header__description--customers{
    margin-top: 24px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(124, 139, 161);
    line-height: 1.625;

}


/* features section  */

.features__wrapper{
    justify-content: center;
}

.feautures{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Features__description{
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.Features__title{
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.Features__paragraph{
    font-size: 18px;
    font-weight: 500;
    color: rgb(124, 139, 161);
    line-height: 1.625;
    max-width: 576px;
    text-align: center;}


.feature__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.feature {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.feature__icon {
  display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__text{
    margin-top: 8px;
    margin-left: 16px;
}

.feature__paragraph{
    margin-top: 16px;
    font-size: 16px;
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}

.feature__title{
    font-size: 20px;
    color: rgb(36, 62, 99);
    font-weight: 700;
}

/* This is the css for hte Quailty work section of the webpage  */

#Quality__work{
    padding-top: 100px;
    
}

.Quailty{
    display: flex;
}

.Quailty__title{
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.Quailty__Description{
     font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    letter-spacing: 0.025em;
    max-width: 500px;
}

.Quailty__paragraph{
    font-size: 18px;
    font-weight: 500;
    color: rgb(124, 139, 161);
    line-height: 1.625;
    max-width: 576px;
    padding-bottom: 16px;
}

.Quailty__text{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 64px;
}

.Quailty__img--wrapper{
    width: 50%;
    
}

.Quailty__img{
    width: 100%
}

.Quailty__btn{
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;
    max-width: 160px;
}

.Quailty__btn:hover{
    background-color: #4b0db9;
}
    
/* this is the css for the next section named Get Started */


#get__started{
    padding-top: 100px;
}

.get__started{
    display: flex;
    } 

.get__started--text{
    width: 50%;
    padding-left: 32px;

}

.get__started--title{
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.get__started--description{
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin-bottom: 32px;
}

.get__started--img-wrapper{
    width: 50%;
}

.get__started--img{
    width: 100%;
}

.step{ 
    display: flex;
    align-items: flex-start;
    margin-bottom: 32px;
}

.step__text{
    display: flex;
    flex-direction: column;
}

.step__counter{
color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    margin-right: 16px;}

.step__paragraph{
    max-width: 300px;
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

.step__title{
        font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

/* this is the css regaurding the value protion of the webpage */

#Values{
    padding-top: 100px;
}

.Values{
    display: flex;
    
}

.value__title{
font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;}

.value__description{ font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin-bottom: 32px;
}

.value__paragraph{
    font-size: 18px;
    font-weight: 500;
    color: rgb(124, 139, 161);
    line-height: 1.625;
    margin-bottom: 32px;
}

.values__img--wrapper{
    width: 50%
}

.values__img{
    width: 100%;
}

.values__text{
    width: 50%;
    padding-right: 32px;
    flex-direction: column;
}

.values__steps{
    display: flex;
}

.values__btn{
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;
    max-width: 160px;
    margin-top: 32px;
}

.values__btn:hover{
    background-color: #4b0db9;
}

.values__step--title{
    font-size: 20px;
    font-weight: bold;
    color: rgb(36, 62, 99);
    padding-left: 8px;
}

.values__step--paragraph{
margin-top: 16px;
    line-height: 1.625;
    color: rgb(113, 128, 150);
}

.step__title--wrapper{
    display: flex;
    align-items: center;
    
}

.values__img--title-wrapper1{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    padding: 4px;
}

.values__img--title-wrapper2{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 14, 14);
    padding: 4px;
}

/* this is the css for the pricing portion of the website  */

#pricing{
    padding-top: 100px;
}

.pricing__title{
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.pricing__description{
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin-bottom: 16px;
}

.pricing__paragraph{
    font-size: 18px;
    font-weight: 500;
    color: rgb(124, 139, 161);
    line-height: 1.625;
    max-width: 500px;
    
}

.pricing__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.pricing__options--wrapper{
display: flex;
position: relative;
flex-direction: row;
width: 100%;
justify-content: space-between;}


.pricing__option{
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgb(255 255 255);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    color: rgb(26 32 44);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.price__stripe{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.price__top{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.625;
}

.price__middle{
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 2rem;
}

.price__target{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.price__feature{
        margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

.price__bottom{
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* stripes and buttons for the each pricing option seperate then by their nth child function*/   

.pricing__option:nth-child(1) .price__stripe, .pricing__option:nth-child(1) .price__btn {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.pricing__option:nth-child(2) .price__btn {
    color: #6415ff;
    background-color: #f7fafc;
}

.pricing__option:nth-child(3) .price__stripe, .pricing__option:nth-child(3) .price__btn {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/* titles and text for the pricing options are also different for each option and are also seperated by their nth child function */

.pricing__option:nth-child(odd) .price__name, .pricing__option:nth-child(odd) .price__amount, .pricing__option:nth-child(odd) .price__target {
    color: #1a202c;
}

.pricing__option:nth-child(2) .price__name, .pricing__option:nth-child(2) .price__amount, .pricing__option:nth-child(2) .price__target {
    color: #f7fafc;
}

.pricing__option:nth-child(odd) .price__duration {
    color: #a0aec0;
}

.pricing__option:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.pricing__option:nth-child(2) .price__duration, .pricing__option:nth-child(2) .price__feature {
    color: #e2e8f0;
}


.price__btn{
    border-radius: 0.25rem;
    background-color: rgb(100 21 255);
    padding: 0.75rem 2rem;
    font-weight: 700;
    color: rgb(247 250 252);
    transition: all 300ms ease;
    width: 100%;
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.price__features{
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

.price__name, .price__amount, .price__duration {
    font-weight: bold;
    line-height: 1.625;
}

.price__name {
    font-size: 20px;
}

.price__amount {
    font-size: 48px;
    margin: 4px 0;
}

.price__duration {
    font-size: 16px;
    letter-spacing: 0.1em;
}

.price__target {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}


.price__middle{
border-top: 1px solid rgba(0,0,0,0.1);
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
}




